{% extends 'base.html' %}

{% block head %}
    <title>Admin Menu</title>
{% endblock %}

{% block navbar%}
        <h1 color='red'>{{message}}</h1>
        <ul class="navbar-links">
            <li class="navbar-links">
                <a href="/adduser">
                    <p class='navbar-conteiner'>Add User</p>
                </a>
            </li>
        </ul>
        <ul class="navbar-links">
            <li class="navbar-links">
                <a href="/manageroom">
                    <p class='navbar-conteiner'>Manage Rooms</p>
                </a>
            </li>
        </ul>
  
{% endblock %}

{% block body %}  
  <h1>Admin Menu - Wellcome {{user.name}}</h1>
  <h2>This is the Admin Menu</h2> 
{% endblock %}