<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Alumnus</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Juice Wallet Logo" class="logo">
            </a>
        </div>
        <div class="conteiner">
            <h1>Alumnus App</h1>
        </div>
        <p></p>
        
        {% block navbar%}{% endblock %}
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
